name: Build GameServer Only

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1

    - name: Create Fake StructParser
      run: |
        mkdir Utilities\bin -Force
        echo. > Utilities\bin\StructParser.exe

    - name: Build GameServer
      shell: cmd
      run: msbuild CoreGameServer.sln /t:CoreGameServer /p:Configuration=Deb
